* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 26.67vw;
}

body {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

#zhifubao {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#zhifubao header {
  height: 1.6rem;
  background: #000;
}

#zhifubao main {
  flex: 1;
}

#zhifubao footer {
  height: 0.5rem;
  background: pink;
}
