* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

#hunliji {
    height: 100%;
    display: flex;
    flex-direction: column;


    .header {
        height: 1.44rem;
        background: url(../images/logo.png) no-repeat;
        background-size: 36%;
        background-position: .4rem center;
        display: flex;
        flex-direction: row;
        position: relative;

        h1 {
            width: .266667rem;
            text-indent: -13.32rem;
        }

        select {
            border: none;
            height: .632rem;
            width: 1.364rem;
            margin: .453333rem 0 0 4rem;

            option {
                font-size: .293333rem;
                line-height: .293333rem;
                text-align: center;
            }
        }

        img {
            width: .333333rem;
            height: .6rem;
            position: absolute;
            top: .4rem;
            right: .4rem;
        }

    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;


        .banner {
            height: 3.68rem;
            background: url(../images/bb_03.jpg) no-repeat center center;
            background-size: 90%;
        }

        .nav {
            height: 3.866667rem;

            ul {
                height: 3.066667rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;

                li {
                    width: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 50%;
                    }

                    a {
                        color: #2c2c2c;
                        font-size: .32rem;
                        line-height: .32rem;
                    }
                }

            }
        }

        .banner2 {
            height: 6.16rem;
            width: 9.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;

            .left {
                height: 4.453333rem;
                width: 4.533333rem;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 4.533333rem;
                        height: 4.453333rem;
                        border-radius: .4rem;
                        box-shadow: .066667rem .066667rem .106667rem #929196;
                    }
                }
            }

            .right {
                height: 4.533333rem;
                width: 4.533333rem;

                ul {
                    height: 4.533333rem;
                    width: 4.506667rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    li {
                        height: 2.106667rem;
                        width: 4.48rem;

                        a {
                            display: block;
                            width: 4.48rem;
                            height: 100%;
                            margin-left: .16rem;
                            box-sizing: border-box;


                            img {
                                width: 4.48rem;
                                height: 2.106667rem;
                                border-radius: .4rem;
                                box-shadow: .066667rem .066667rem .106667rem #929196;
                            }
                        }
                    }

                }
            }

        }

        .main1 {
            height: 6.906667rem;
            display: flex;
            flex-direction: column;

            h2 {
                height: .506667rem;

                span {
                    display: block;
                    float: left;
                }

                span:nth-child(1) {
                    font-size: .506667rem;
                    width: 3.173333rem;
                    line-height: .506667rem;
                    margin-left: .426667rem;
                }

                span:nth-child(2) {
                    font-size: .4rem;
                    line-height: .506667rem;
                    color: #b1b1b1;
                    width: .833333rem;
                    margin-left: 5.066667rem;

                }
            }

            .box1 {
                height: 6rem;
                width: 100%;
                overflow: auto;


                .list1 {
                    height: 6rem;
                    float: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;


                    li {
                        height: 4.8rem;
                        width: 3.76rem;
                        margin-right: .266667rem;
                        border: .013333rem solid #ccc;
                        border-radius: 0 .026667rem .106667rem #666;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h3 {
                            font-size: .4rem
                        }

                        p {
                            height: .293333rem;
                            width: 1.466667rem;
                            background: url(../images/xingxing1.png);
                            background-size: .293333rem;
                        }

                        span {
                            color: #656565;
                        }
                    }
                }
            }
        }

        .main2 {
            height: 5.6rem;
            display: flex;
            flex-direction: column;
            position: relative;

            h2 {
                height: .506667rem;
                font-size: .506667rem;
                width: 3.173333rem;
                line-height: .506667rem;
                margin-left: .426667rem;

            }

            ul {
                height: 3.546667rem;
                width: 8.106667rem;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 .066667rem 0 #929196;
                border-radius: .2rem;

                li {
                    height: .933333rem;
                    font-size: .4rem;
                    width: 1.253333rem;
                    line-height: .933333rem;
                    text-align: center;
                    color: #2f2f2f;
                }

            }
        }

        .main3 {
            height: 3.946667rem;

            h2 {
                height: .506667rem;
                font-size: .506667rem;
                width: 3.173333rem;
                line-height: .506667rem;
                margin-left: .426667rem;

            }

            ul {
                height: 3.413333rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                li {
                    height: 1.893333rem;
                    width: 3.066667rem;
                    box-shadow: 0 0 .04rem 0 #929196;
                    border-radius: .2rem;

                    h3 {
                        font-size: .4rem;
                        height: .4rem;
                        padding-left: .373333rem;
                        box-sizing: border-box;
                        margin-top: .4rem;
                    }

                    p {
                        height: .853333rem;
                        font-size: .32rem;
                        color: #9d9d9d;
                        line-height: .853333rem;
                        padding-left: .373333rem;
                        box-sizing: border-box;
                    }

                }

                li:nth-child(1) {
                    background: url(../images/bt5.png) no-repeat;
                    background-position: 2.16rem 1.066667rem;
                    background-size: 20%;
                }

                li:nth-child(2) {
                    background: url(../images/bt3.png) no-repeat;
                    background-position: 2.16rem 1.066667rem;
                    background-size: 20%;
                }

                li:nth-child(3) {
                    background: url(../images/bt4.png) no-repeat;
                    background-position: 2.16rem 1.066667rem;
                    background-size: 20%;
                }

            }
        }

        .main4 {
            height: 7.36rem;
            position: relative;

            h2 {
                height: .506667rem;

                span {
                    display: block;
                    float: left;
                }

                span:nth-child(1) {
                    font-size: .506667rem;
                    width: 3.173333rem;
                    line-height: .506667rem;
                    margin-left: .426667rem;
                }

                span:nth-child(2) {
                    font-size: .4rem;
                    line-height: .506667rem;
                    color: #b1b1b1;
                    width: .833333rem;
                    margin-left: 5.066667rem;


                }
            }

            .box-1 {
                height: 5.36rem;
                width: 9.2rem;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                flex-direction: row;


                .lf {
                    height: 100%;
                    width: 50%;

                    ul {
                        height: 100%;
                        display: flex;
                        flex-direction: column;


                        li {
                            height: 50%;
                            box-sizing: border-box;

                            img {
                                height: 100%;
                                border-radius: .266667rem;
                            }

                        }
                    }
                }

                .rt {
                    width: 50%;

                    img {
                        height: 100%;
                        border-radius: .266667rem;
                    }
                }
            }
        }

        .main5 {
            height: 10rem;
            position: relative;


            h2 {
                height: .506667rem;

                span {
                    display: block;
                    float: left;
                }

                span:nth-child(1) {
                    font-size: .506667rem;
                    width: 3.173333rem;
                    line-height: .506667rem;
                    margin-left: .426667rem;
                }

                span:nth-child(2) {
                    font-size: .4rem;
                    line-height: .506667rem;
                    color: #b1b1b1;
                    width: .833333rem;
                    margin-left: 5.066667rem;

                }
            }

            .top {
                height: 4rem;
                width: 8.666667rem;
                margin: 1.12rem 0 0 .933333rem;
                border-radius: .4rem;
                overflow: hidden;
                box-shadow: 0 0 .106667rem 0 #9d9d9d;



                img {
                    width: 5.333333rem;
                    height: 4rem;
                    border-radius: .4rem;
                    position: absolute;
                    top: 1.066667rem;
                    left: .4rem;

                }

                h3 {
                    font-size: .506667rem;
                    line-height: .506667rem;
                    height: .506667rem;
                    margin-top: 1.013333rem;
                    box-sizing: border-box;
                    padding-left: 5.733333rem;
                }

                a {
                    display: block;
                    color: #fff;
                    font-weight: bolder;
                    line-height: .733333rem;
                    text-align: center;
                    height: .733333rem;
                    width: .733333rem;
                    background: #f83144;
                    border-radius: 50%;
                    margin-top: .693333rem;
                    margin-left: 5.733333rem;
                }
            }


            .bottom {
                height: 3.733333rem;
                display: flex;
                align-items: center;
                justify-content: center;

                ul {
                    width: 9.2rem;
                    height: 3.2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    li {
                        width: 2.853333rem;
                        background: pink;
                        border-radius: .4rem;
                        box-shadow: 0 0 .08rem 0 #9d9d9d;

                        p {
                            height: .32rem;
                            font-size: .32rem;
                            line-height: .32rem;
                            text-align: center;
                            margin-top: 2.533333rem;
                            color: #595959;
                        }
                    }

                    li:nth-child(1) {
                        background: url(../images/o_1clb6afdf15fj12t5q6jl5b7msb.jpg) no-repeat;
                        background-size: 100%;
                    }

                    li:nth-child(2) {
                        background: url(../images/o_1clb6afdf856pbo3ncl5to5oc.jpg) no-repeat;
                        background-size: 100%;
                    }

                    li:nth-child(3) {
                        background: url(../images/o_1clb6afdfjbv3jvfe61eqem57d.jpg) no-repeat;
                        background-size: 100%;
                    }
                }
            }
        }

        .main6 {
            height: 20.4rem;

            h2 {
                height: .506667rem;

                span {
                    display: block;
                    float: left;
                }

                span:nth-child(1) {
                    font-size: .506667rem;
                    width: 3.173333rem;
                    line-height: .506667rem;
                    margin-left: .426667rem;
                }

                span:nth-child(2) {
                    font-size: .4rem;
                    line-height: .506667rem;
                    color: #b1b1b1;
                    width: .833333rem;
                    margin-left: 5.066667rem;

                }
            }

            .last {
                flex: 1;

                ul {
                    height: 19.546667rem;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    align-items: center;

                    li {
                        height: 3.306667rem;
                        width: 9.146667rem;
                        display: flex;
                        flex-direction: row;

                        img {
                            display: block;
                            width: 3.76rem;
                            height: 100%;
                        }

                        .op {
                            width: 5.84rem;
                            position: relative;

                            h3 {
                                width: 4.56rem;
                                font-size: .453333rem;
                                margin-top: .453333rem;
                            }

                            p {
                                height: .266667rem;
                                margin-top: .666667rem;

                                span {
                                    font-size: .266667rem;
                                    color: #666666;
                                }

                            }

                            a {
                                display: block;
                                color: #fff;
                                font-weight: bolder;
                                line-height: .733333rem;
                                text-align: center;
                                height: .733333rem;
                                width: .733333rem;
                                background: #f83144;
                                border-radius: 50%;
                                position: absolute;
                                top: 2.133333rem;
                                left: 4.133333rem;

                            }
                        }

                    }
                }
            }
        }
    }

    .footer {
        height: 3.84rem;
        background: #f2f3f7;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h2 {
            height: 1.493333rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                display: block;
                height: .8rem;
                width: 2.666667rem;
                font-size: .373333rem;
                line-height: .8rem;
                text-align: center;
                border-radius: .4rem;
            }

            span:nth-child(1) {
                margin-right: .373333rem;
                background: #f83144;
                color: #fff;

            }

            span:nth-child(2) {
                margin-right: .373333rem;
                background: #fff;
                color: #f83144;

            }

        }

        p {
            height: .56rem;
            font-size: .32rem;
            line-height: .56rem;
            text-align: center;
            color: #929196;
        }
    }
}