*{
    margin: 0px;padding: 0px;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

html,body{
    height: 100%;
}
/* box */
#box{
    height: 100%;
}

/* top */
.top{
    height: 87px;
    border-bottom: 2px solid #4e8cd5;
    background: #7ab5e9;
    overflow: hidden;
}
.top h2{
    font-size: 24px;
    height: 24px;
    width: 433px;
    float: left;
    line-height: 24px;
    color: #fff;
    margin: 30px 0 0 30px;
}
.top-1{
    float: right;
    width: 750px;
    height: 100%;
    
}
.p1{
    height: 22px;
    width: 268px;
    background: #fff;
    margin: 0 29px 0 409px;
    text-align: center;
    border-radius:20%;
}
.p1 .a1{
    padding-left: 12px;
}
.sp1{
    font-size: 11px;
    color: #6d6d6d;
}
.a2{
    font-size: 11px;
    color: #551a8b;
}
.list1{
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border-bottom: 1px solid #7ab5e9;
}
.list1 li{
    float: left;
    width: 96px;
    height: 70px;
    margin-right: 10px;
}
.list1 li:nth-child(1){
    background: url(../images/list1.png) no-repeat;
    background-position: 33px 0px;
}
.list1 li:nth-child(2){
    background: url(../images/list1.png) no-repeat;
    background-position: -57px 0px;
}
.list1 li:nth-child(3){
    background: url(../images/list1.png) no-repeat;
    background-position: -147px 0px;
}
.list1 li:nth-child(4){
    background: url(../images/list1.png) no-repeat;
    background-position: -237px 0px;
}
.list1 li:nth-child(5){
    background: url(../images/list1.png) no-repeat;
    background-position: -327px 0px;
}
.list1 li:nth-child(6){
    background: url(../images/list1.png) no-repeat;
    background-position: -417px 0px;
}
.list1 li:nth-child(7){
    background: url(../images/list1.png) no-repeat;
    background-position: -507px 0px;
}
.list1 li:nth-child(1):hover{
    background: url(../images/n1_hover.png) no-repeat center 0px,
    url(../images/libj.png);

}
.list1 li:nth-child(2):hover{
    background: url(../images/n2_hover.png) no-repeat center 0px,
    url(../images/libj.png);
}
.list1 li:nth-child(3):hover{
    background: url(../images/n3_hover.png) no-repeat center 0px,
    url(../images/libj.png);
}
.list1 li:nth-child(4):hover{
    background: url(../images/n4_hover.png) no-repeat center 0px,
    url(../images/libj.png);
}
.list1 li:nth-child(5):hover{
    background: url(../images/n5_hover.png) no-repeat center 0px,
    url(../images/libj.png);
}
.list1 li:nth-child(6):hover{
    background: url(../images/n6_hover.png) no-repeat center 0px,
    url(../images/libj.png);
}
.list1 li:nth-child(7):hover{
    background: url(../images/n7_hover.png) no-repeat center 0px,
    url(../images/libj.png);
}

.list1 p{
    margin-top: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}


/* bottom */
.bottom{
    height: calc(100% - 87px);
}
.bottom  .left{
    width: 195px;
    height: 100%;
    float: left;
    background: #417ec8;
    border-right: 2px solid #4e8cd5;
}
.left .sd{
    width: cale(100% - 48px);
    font-size: 13px;
    line-height: 32px;
    border: 1px solid #0b67b4;
    
   
}
.sd a{
    display: inline-block;
    height: 32px;
    width: 147px;
    color: #000;
    padding-left: 48px;
    
}

.left .sd .aa1{  
    background: url(../images/left_01.png)no-repeat 25px center;
}
.left .sd .aa2{
    background: url(../images/left_02.jpg)no-repeat 25px center;
}
.left .sd .aa3{
    background: url(../images/left_03.jpg)no-repeat 25px center;
}

.dd{
    width: 100%;
    height: 122px;
    display: none;
}
.sd:hover .aa1{
    background: url(../images/left_01.png) no-repeat 25px center, #fff;
}
.sd:hover .aa2{
    background: url(../images/left_02.png) no-repeat 25px center, #fff;
}
.sd:hover .aa3{
    background: url(../images/left_03.png) no-repeat 25px center, #fff;
}
.sd:hover .dd{
    display: block;
}
.list2{
    width: 100%;
    background: #417ec8;
}
.list2 li{
    width: 100%;
    height: 12px;
    font-size: 12px;
    margin-bottom: 18px;
    padding-left: 48px;
    color: #fff;
    background: url(../images/li_03.jpg) no-repeat 35px center;
}


.bottom .right{
    height: 100%;
    width: calc(100% - 197px);
    float: left;
    
}
.p2{
    font-size: 14px;
    color: #636363;
    padding: 6px 0 0 30px;
    background: url(../images/home.jpg)no-repeat 20px 13px;
    border-bottom: 1px solid #bebebe;
}
.p3{
    height: 50px;
}
.sp4{
   display: block;
   float: left;
   width: 92px;
   height: 50px;
   font-size: 16px;
   padding-top: 13px;
   background: url(../images/seacth.jpg) no-repeat 5px 14px;
}
.sp4 a{
    color: #000;
    padding-left: 40px;
}
label,select,.sb{
    margin-top: 13px;
}
select{
    display:inline-block;
    width: 100px;
}
.vbb{
    width: 1098px;
    height: 30px;
    margin: auto;
    background:#f7f7f7;
    border: 1px solid #bebebe;
}
.vbb a{
    display: block;
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.ah1{
    margin-left: 900px;
    border-right: 1px solid #d6d6d6;
}

table{
    width: 1100px;
    height: 250px;
    text-align: center;
    border: 1px solid #bebebe;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: auto
}
table tr:nth-child(2n+1){
    background: #f1f1f1;
}
td{
    height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #bebebe;
}
th{
    font-size: 12px;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #bebebe;
}
.bt{
    width: 15px;
    height: 15px;
}
.p5{
    height: 18px;
    width: 100%;
    margin-top: 20px;
}
.sb2{
    display: block;
    width: 160px;
    float: left;
    font-size: 12px;
    margin-left: 30px;
}

.p6{
    width: 300px;
    height: 100%;
    float: right;
}
.list3{
    height: 14px;
    width: 100px;
}
.list3 li{
    float: left;
    height: 16px;
    width: 18px;
    font-size: 12px;
    text-align: center;
    margin-right: 4px;
    border: 1px solid #a3a3a3;
}
.p6 span{
    font-size: 12px;
    display: block;
    width: 36px;
    height: 100%;
    text-align: center;
    /* margin-left: 50px; */
}
.sb4,.list3,.sb5,.sb6{
    float: left;
}
.sb4{
    margin-left: 50px;
}
