* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

#allpyra {
  height: 100%;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

#allpyra .header{
  height: 44px;
  width: 100%;
  background: #fff;
}

#allpyra .header h1{
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/logo.png) no-repeat center center;
}

#allpyra .header h1 .aa {
  display: block;
  height: 44px;
  width: 24px;
  display: flex;
  align-items: center;
}

#allpyra .header h1 .aa img {
  display: block;
  width: 24px;
  height: 24px;
}

#allpyra .main {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

#allpyra .main .banner {
  height: 210px;
  box-sizing: border-box;
}

#allpyra .main .banner img {
  display: block;
  width: 100%;
  height: 100%;
}

#allpyra .main .nav {
  height: 75px;
  background: #fff;
  box-sizing: border-box;
}

#allpyra .main .nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
}

#allpyra .main .nav ul li a {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 9px;
  color: #303030;
  line-height: 9px;
  padding-top: 59px;
  box-sizing: border-box;
}

#allpyra .main .nav ul li:nth-child(1) {
  background: url(../images/icon1.png) no-repeat center 6px;
  background-size: 100%;
}

#allpyra .main .nav ul li:nth-child(2) {
  background: url(../images/icon2.png) no-repeat center 6px;
  background-size: 100%;
}

#allpyra .main .nav ul li:nth-child(3) {
  background: url(../images/icon3.png) no-repeat center 6px;
  background-size: 100%;
}

#allpyra .main .nav ul li:nth-child(4) {
  background: url(../images/icon4.png) no-repeat center 6px;
  background-size: 100%;
}

#allpyra .main .main1 {
  height: 65px;
  margin: 9px 0;
  background: url(../images/yanjiu.png) no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#allpyra .main .main1 a {
  display: flex;
  width: 185px;
  height: 13px;
  margin-bottom: 3px;
}

#allpyra .main .main1 a span:nth-child(1) {
  font-size: 6px;
  color: #e8ceb3;
  line-height: 13px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #e8ceb3;
}

#allpyra .main .main1 a span:nth-child(2) {
  font-size: 8px;
  line-height: 13px;
  text-align: center;
  color: #303030;
  padding-left: 5px;
}

#allpyra .main .main2 {
  height: 325px;
  margin-top: 10px;
  background: #fff;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

#allpyra .main .main2 .main2-a1 {
  display: block;
  height: 170px;
  width: 335px;
}

#allpyra .main .main2 .main2-a1 img {
  width: 100%;
  height: 100%;
}

#allpyra .main .main2 .main2-1 {
  height: 155px;
  width: 100%;
}

#allpyra .main .main2 .main2-1 ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

#allpyra .main .main2 .main2-1 ul li {
  width: 110px;
  margin: 0 2px;
  height: 100%;
}

#allpyra .main .main2 .main2-1 ul li figure {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#allpyra .main .main2 .main2-1 ul li figure .fc1 {
  font-size: 6px;
  color: #8c8c8c;
  line-height: 14px;
  text-align: center;
}

#allpyra .main .main2 .main2-1 ul li figure .fc2 {
  margin-top: 8px;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
}

#allpyra .main .main2 .main2-1 ul li figure img {
  height: 90px;
  width: 90px;
}

#allpyra .main .main3 {
  height: 87px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

#allpyra .main .main3 h2 {
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 26px;
}

#allpyra .main .main3 p {
  font-size: 7px;
  line-height: 21px;
  text-align: center;
}

#allpyra .main .main4 {
  height: 722px;
  box-sizing: border-box;
}

#allpyra .main .main4 ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#allpyra .main .main4 ul li {
  height: 222px;
  width: 161px;
  box-shadow: 0 0 3px 0 #8c8c8c;
}

#allpyra .main .main4 ul li figure {
  height: 100%;
  width: 100%;
}

#allpyra .main .main4 ul li figure img {
  height: 160px;
  width: 160px;
}

#allpyra .main .main4 ul li figure .fc1 {
  font-size: 10px;
  line-height: 14px;
  color: #303030;
  text-align: center;
}

#allpyra .main .main4 ul li figure .fc2 {
  font-size: 11px;
  color: #fc527f;
  line-height: 50px;
}

#allpyra .footer {
  height: 65px;
  width: 100%;
  box-sizing: border-box;
background: #ccc;
}

#allpyra .footer ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#allpyra .footer ul li {
  width: 50px;
}

#allpyra .footer ul li a {
  display: block;
  height: 100%;
  color: #303030;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 50px;
}

#allpyra .footer ul li:nth-child(1) {
  background: url(../images/tab1.png) no-repeat center 0px;
}

#allpyra .footer ul li:nth-child(2) {
  background: url(../images/tab2.png) no-repeat center 0px;
}

#allpyra .footer ul li:nth-child(3) {
  background: url(../images/tab3.png) no-repeat center 0px;
}

#allpyra .footer ul li:nth-child(4) {
  background: url(../images/tab4.png) no-repeat center 0px;
}
@media all and (min-width: 0) and (max-width: 400px){
  #allpyra{
      width: 100%;
      height: 100%;
  }
}
@media all and (min-width: 401px) and (max-width: 1300px){
  #allpyra{
      width: 375px;
      height: 100%;
      margin: auto;
  }
}