* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

.zhifubao {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.zhifubaoheader {
  height: 160px;
  width: 100%;
  background: #3f454f;
}

.zhifubaoheader .list1 {
  display: flex;
  flex: 1;
}

.zhifubaoheader .list1 li {
  display: flex;
  flex: 1;
  align-items: center;
}

.zhifubaoheader .list1 li i {
  font-size: 23px;
  color: #fff;
}

.zhifubaoheader .list1 li span {
  font-size: 6px;
  color: #fff;
}

.zhifubaoheader .list1 li:nth-child(1) {
  flex: 5;
  padding-left: 16px;
}

.zhifubaoheader .list2 {
  display: flex;
  flex: 6;
  margin-top: 30px;
}

.zhifubaoheader .list2 li {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zhifubaoheader .list2 li i {
  font-size: 36px;
  line-height: 36px;
  color: #fff;
}

.zhifubaoheader .list2 li span {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  margin-top: 14px;
}

.zhifubaomain {
  flex: 1;
  display: flex;
}

.zhifubaomain ul {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.zhifubaomain ul li {
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zhifubaofooter {
  height: 50px;
  width: 100%;
  background: #3f454f;
}

.zhifubaofooter .list3 {
  display: flex;
  flex: 1;
  height: 100%;
}

.zhifubaofooter .list3 li {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.zhifubaofooter .list3 li i {
  font-size: 23px;
  line-height: 23px;
  color: #fff;
}

.zhifubaofooter .list3 li span {
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  margin-top: 3px;
}
