html,
body {
  height: 100%;
}

@font-face {
  font-family: "icon";
  src: url("../font/fontello.eot");
  src: url("../font/fontello.eot?#iefix") format("embedded-opentype"), url("../font/fontello.svg#icomoon") format("svg"), url("../font/fontello.woff") format("woff"), url("../font/fontello.ttf") format("truetype");
}

#yisheng {
  height: 100%;
}

#yisheng .header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  background: #fff;
  z-index: 1;
}

#yisheng .header .mm1 {
  display: flex;
  width: 140px;
  height: 40px;
  background: url(../images/logo2.png) no-repeat;
  background-size: 140px 40px;
  margin-left: 100px;
}

#yisheng .header h1 {
  width: 0px;
  text-indent: -999px;
}

#yisheng .header .ul1,
#yisheng .header .ul2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#yisheng .header .ul1 {
  margin-left: 315px;
}

#yisheng .header .ul1 li {
  margin: 0 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}

#yisheng .header .ul1 li a {
  display: block;
  height: 40px;
  width: 54px;
  color: #7b7b7b;
  position: relative;
}

#yisheng .header .ul1 a::after {
  content: "";
  width: 0%;
  background: #4c22af;
  height: 2px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 1s;
}

#yisheng .header .ul1 a:hover::after {
  width: 100%;
}

#yisheng .header .ul2 {
  margin-left: 24px;
}

#yisheng .header .ul2 li a {
  display: block;
  height: 30px;
  width: 88px;
  font-size: 12px;
  color: #ac91ec;
  border: 1px solid #ac91ec;
  line-height: 30px;
  text-align: center;
}

#yisheng .header .ul2 li:nth-child(1) {
  margin-right: 10px;
}

#yisheng .nav {
  height: 570px;
  background: url(../images/7.jpg);
  background-size: 100% 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#yisheng .nav h2 {
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 34px;
}

#yisheng .nav .weixin {
  height: 182px;
  width: 160px;
  margin-top: 36px;
}

#yisheng .nav .weixin p {
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
  color: #757575;
}

#yisheng .banner {
  height: 638px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#yisheng .banner h2 {
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 70px;
  font-size: 24px;
}

#yisheng .banner .list {
  width: 1033px;
  margin-top: 38px;
}

#yisheng .banner .list ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 34px;
  justify-content: space-between;
}

#yisheng .banner .list li {
  height: 212px;
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#yisheng .banner .list li .bottom {
  height: 76px;
}

#yisheng .banner .list li .bottom h3 {
  font-size: 22px;
  line-height: 46px;
  text-align: center;
}

#yisheng .banner .list li .bottom span {
  display: block;
  text-align: center;
}

#yisheng .banner .list li .bottom span:nth-child(1) {
  font-size: 24px;
  height: 24px;
  margin-top: 22px;
}

#yisheng .banner .list li .bottom span:nth-child(2) {
  font-size: 14px;
  color: #757575;
  margin-top: 14px;
}

#yisheng .banner .list .top {
  height: 80px;
  width: 80px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px 0;
}

#yisheng .banner .list .top1 {
  height: 80px;
  width: 80px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -90px;
}

#yisheng .banner .list .top2 {
  height: 80px;
  width: 84px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -180px;
}

#yisheng .banner .list .top3 {
  height: 80px;
  width: 84px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -270px;
}

#yisheng .banner .list .top4 {
  height: 80px;
  width: 84px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -360px;
}

#yisheng .banner .list .top5 {
  height: 80px;
  width: 84px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -450px;
}

#yisheng .banner .list .top6 {
  height: 80px;
  width: 84px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -540px;
}

#yisheng .banner .list .top7 {
  height: 80px;
  width: 84px;
  background: url(../images/list.png) no-repeat;
  background-position: 0px -630px;
}

#yisheng .banner .list .top:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px 0;
}

#yisheng .banner .list .top1:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -90px;
}

#yisheng .banner .list .top2:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -180px;
}

#yisheng .banner .list .top3:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -270px;
}

#yisheng .banner .list .top4:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -360px;
}

#yisheng .banner .list .top5:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -450px;
}

#yisheng .banner .list .top6:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -540px;
}

#yisheng .banner .list .top7:hover {
  background: url(../images/list.png) no-repeat;
  background-position: -90px -630px;
}

#yisheng .main1 {
  height: 554px;
  display: flex;
  flex-direction: row;
}

#yisheng .main1 .main1-l,
#yisheng .main1 .main1-r {
  flex: 1;
}

#yisheng .main1 .main1-l {
  background: url(../images/4.jpg);
  background-size: 100% 100%;
}

#yisheng .main1 .main1-r {
  display: flex;
  align-items: center;
  justify-content: center;
}

#yisheng .main1 .main1-r .zhu {
  height: 400px;
  width: 440px;
  display: flex;
  flex-direction: column;
}

#yisheng .main1 .main1-r .zhu h2 {
  height: 24px;
  font-size: 20px;
  line-height: 24px;
}

#yisheng .main1 .main1-r .zhu ul {
  height: 330px;
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#yisheng .main1 .main1-r .zhu ul li {
  display: flex;
  flex-direction: row;
}

#yisheng .main1 .main1-r .zhu ul li .font {
  font-size: 50px;
  font-family: "icon";
  font-style: normal;
  display: block;
  height: 80px;
  width: 86px;
}

#yisheng .main1 .main1-r .zhu ul li .font:hover {
  color: #ac91ec;
}

#yisheng .main1 .main1-r .zhu ul li div {
  flex: 1;
}

#yisheng .main1 .main1-r .zhu ul li div h3 {
  font-size: 16px;
  height: 16px;
  line-height: 16px;
}

#yisheng .main1 .main1-r .zhu ul li div p {
  line-height: 20px;
  font-size: 12px;
  margin-top: 13px;
  color: #757575;
}

#yisheng .main1 .main1-r .zhu ul li:nth-child(1) .font::before {
  content: "\e82e";
}

#yisheng .main1 .main1-r .zhu ul li:nth-child(2) .font::before {
  content: "\e814";
}

#yisheng .main1 .main1-r .zhu ul li:nth-child(3) .font::before {
  content: "\e806";
}

#yisheng .main2 {
  height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#yisheng .main2 h2 {
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 70px;
  font-size: 24px;
}

#yisheng .main2 ul {
  width: 1130px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 56px;
}

#yisheng .main2 ul li {
  height: 206px;
  position: relative;
}

#yisheng .main2 ul li img {
  height: 100%;
}

#yisheng .main2 ul li .ding {
  height: 206px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#yisheng .main2 ul li .ding h3 {
  font-size: 28px;
  color: #fff;
}

#yisheng .main2 ul li .ding .di {
  height: 30px;
  width: 80px;
  border: 1px solid #fff;
  position: relative;
}

#yisheng .main2 ul li .ding .di .move,
#yisheng .main2 ul li .ding .di .ss {
  display: block;
  height: 100%;
  width: 100%;
}

#yisheng .main2 ul li .ding .di .move {
  font-size: 16px;
  line-height: 30px;
  line-height: 30px;
  text-align: center;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

#yisheng .main2 ul li:hover .ding {
  display: flex;
}

@keyframes ss {
  from {
    width: 0%;
    background: #fff;
  }
  to {
    width: 100%;
    background: #fff;
  }
}

#yisheng .main2 ul li:hover .ss {
  animation: ss 2s;
}

#yisheng .main2 .sd1 {
  display: block;
  height: 40px;
  width: 110px;
  background: #ac92ec;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin-top: 40px;
}

#yisheng .main2 .tt {
  height: 16px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 34px;
}

#yisheng .main2 .tt span {
  display: block;
  height: 100%;
}

#yisheng .main2 .tt span:nth-child(1),
#yisheng .main2 .tt span:nth-child(3) {
  width: 222px;
  text-align: center;
  line-height: 16px;
  height: 1px;
  background: #d8d8d8;
}

#yisheng .main2 .tt span:nth-child(1) {
  position: absolute;
  top: 8px;
  left: 0;
}

#yisheng .main2 .tt span:nth-child(3) {
  position: absolute;
  top: 8px;
  left: 380px;
}

#yisheng .main3 {
  height: 594px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

#yisheng .main3 h2 {
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 70px;
  font-size: 24px;
}

#yisheng .main3 ul {
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 56px;
}

#yisheng .main3 ul li {
  height: 360px;
  position: relative;
}

#yisheng .main3 ul li p {
  height: 60px;
  width: 60px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

#yisheng .main3 ul li p span {
  display: block;
  border: 12px solid transparent;
  border-left: 12px solid #cccccc;
  margin-left: 24px;
}

#yisheng .main3 ul li img {
  height: 100%;
}

#yisheng .main3 ul li:hover p {
  box-shadow: 0 0 3px 5px #d8d8d8;
}

#yisheng .main4 {
  height: 460px;
  background: url(../images/1.jpg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

#yisheng .main4 h2 {
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 70px;
  font-size: 24px;
}

#yisheng .main4 p {
  width: 420px;
  margin-top: 40px;
  line-height: 25px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

#yisheng .main4 span {
  display: block;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  margin-top: 12px;
}

#yisheng .footer {
  height: 556px;
}

#yisheng .footer .biaodan {
  height: 445px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

#yisheng .footer .biaodan h2 {
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-top: 70px;
  font-size: 24px;
}

#yisheng .footer .biaodan p {
  height: 16px;
  margin-top: 16px;
  font-size: 16px;
  color: #757575;
}

#yisheng .footer .biaodan span {
  display: block;
  height: 24px;
  width: 40px;
  border-bottom: 2px solid #363636;
}

#yisheng .footer .biaodan ul {
  height: 116px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 36px;
  position: relative;
}

#yisheng .footer .biaodan ul li {
  width: 1082px;
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#yisheng .footer .biaodan ul li input {
  width: 524px;
  height: 46px;
  border: 1px solid #d8d8d8;
  padding-left: 16px;
  box-sizing: border-box;
}

#yisheng .footer .biaodan ul li .qq {
  position: absolute;
  top: 76px;
  left: 442px;
  display: block;
  height: 36px;
  width: 80px;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background: #d8d8d8;
}

#yisheng .footer .biaodan .tt1 {
  display: block;
  height: 40px;
  width: 108px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #ac92ec;
  margin-top: 25px;
}

#yisheng .footer .foot {
  height: 110px;
  background: #333333;
}

#yisheng .footer .foot p {
  height: 100%;
  line-height: 110px;
  color: #9b9b9b;
  text-align: center;
  font-size: 12px;
}
