@charset "utf-8";
.box{width: 1000px;height: 1500px;margin: 0 auto;}
.box1{height: 102px;background: #e6e6e6}
.box2{height: 260px;background: #0e107a}
.box3{height: 405px;background: #e8722b}
.box4{height: 510px;background: #0a993d}
.box5{height: 225px;background: #cccccc}