* {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 26.67vw;
}

body {
  font-size: 16px;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
}

#zhifubao {
  height: 100%;
  width: 3.75rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#zhifubao .header {
  height: 1.65rem;
  background: #3f454f;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#zhifubao .header .list1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#zhifubao .header .list1 li {
  flex: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

#zhifubao .header .list1 li i {
  font-size: 0.25rem;
}

#zhifubao .header .list1 li:nth-child(1) {
  flex: 4;
  padding-left: 0.15rem;
  box-sizing: border-box;
}

#zhifubao .header .list1 li:nth-child(1) span {
  font-size: 0.16rem;
  padding-left: 0.11rem;
}

#zhifubao .header .list1 li:nth-child(n+2) {
  justify-content: center;
}

#zhifubao .header .list2 {
  flex: 3;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#zhifubao .header .list2 li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
}

#zhifubao .header .list2 li .iconfont {
  font-size: 0.35rem;
}

#zhifubao .header .list2 li span {
  font-size: 0.15rem;
  padding-top: 0.15rem;
}

#zhifubao .box {
  flex: 1;
  box-sizing: border-box;
}

#zhifubao .box ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#zhifubao .box ul li {
  width: 25%;
  height: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#zhifubao .box ul li i {
  font-size: 0.3rem;
}

#zhifubao .box ul li .icon-jipiao,
#zhifubao .box ul li .icon-jizhangben,
#zhifubao .box ul li .icon-wodekefu {
  color: #2eb3e8;
}

#zhifubao .box ul li .icon-fuwuchuang {
  color: #29ab91;
}

#zhifubao .box ul li .icon-tianmao {
  color: #dd2727;
}

#zhifubao .box ul li .icon-gupiao,
#zhifubao .box ul li .icon-41kongxinfangzi {
  color: #f96268;
}

#zhifubao .box ul li .icon-kuaidi,
#zhifubao .box ul li .icon-shoukuan {
  color: #ffb359;
}

#zhifubao .box ul li .icon-jiayou {
  color: #36bc99;
}

#zhifubao .box ul li span {
  font-size: 0.12rem;
  color: #434343;
  padding-top: 0.14rem;
}

#zhifubao .footer {
  height: 0.5rem;
  background: #ccc;
  display: flex;
  box-sizing: border-box;
}

#zhifubao .footer ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#zhifubao .footer ul li {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#zhifubao .footer ul li i {
  font-size: 0.23rem;
}

#zhifubao .footer ul li span {
  font-size: 0.1rem;
}
