*{
    margin: 0;padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none；
}

/* xiaolu */
#xiaolu{
    width: 100%;
    border-bottom: 1px solid red;
}
.clearfix::after{
    content: "";
    clear: both;
    height: 0px;
    display: block;
    overflow: hidden;
    visibility: hidden;
}

#xiaolu .header{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fff;
  
}
#xiaolu .header h1{
    text-indent: -9999px;
    width: 88px;
    height: 70px;
    margin-left: 75px;
    background: url(../images/logo_1.png)no-repeat left center;
    float: left;
}
#xiaolu .header p{
    width: 50px;
    height: 70px;
    font-size: 12px;
    line-height: 70px;
    text-align: center;
    color: #ffa000;
    float: left;
    margin-right: 50px;
}

#xiaolu .header ul{
    width: 544px;
    height: 70px;
    float: left;
}
#xiaolu .header ul li{
    float: left;
    height: 70px;
    font-size: 16px;
    line-height: 70px;
    text-align: center;
    margin-right: 60px;
}
#xiaolu .header ul li a{
    color: #303030;
}
#xiaolu .header ul li:hover a{
    color: orange;
}

/* banner */
#xiaolu .banner{
    height: 350px;
    margin-top: 70px;
    background: url(../images/banner.png) no-repeat;
}
#xiaolu .banner .list1{
    width: 238px;
    height: 350px;
    margin-left: 75px;
    background: rgba(0, 0, 0, .6);
    position: relative;
}
#xiaolu .banner .list1 .li1{
    width: 238px;
    height: 66px;
    
}
#xiaolu .banner .list1 .li1 .a1{
    display: block;
    width: 134px;
    height: 66px;
    font-size: 20px;
    line-height: 66px;
    color: #fff;
    padding-left: 104px;
}
#xiaolu .banner .list1 .li1:nth-child(1){
    background: url(../images/p1.png) no-repeat;
    background-position: 66px 30px;
}
#xiaolu .banner .list1 .li1:nth-child(2){
    background: url(../images/p1.png) no-repeat;
    background-position: 66px -55px;
}
#xiaolu .banner .list1 .li1:nth-child(3){
    background: url(../images/p1.png) no-repeat;
    background-position: 66px -131px;
}
#xiaolu .banner .list1 .li1:nth-child(4){
    background: url(../images/p1.png) no-repeat;
    background-position: 66px -205px;
}
#xiaolu .banner .list1 .li1:nth-child(5){
    background: url(../images/p1.png) no-repeat;
    background-position: 66px -282px;
}
#xiaolu .banner .list1 .bannerqq{
    width: 480px;
    height: 350px;
    position: absolute;
    left: 238px;
    top: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}
#xiaolu .banner .list1 .list1-1{
    width: 480px;
    height: 350px;

}
#xiaolu .banner .list1 .list1-1 li{
    height: 18px;
    font-size: 18px;
    float: left;
    line-height: 18px;
    text-align: center;
    margin:25px 0;
    border-right: 1px solid #fff;
    
}
#xiaolu .banner .list1 .list1-1 li a{
    color: #fff; 
    padding:0 25px;
}

#xiaolu .banner .list1 .li1:hover .bannerqq{
    display: block;
}

/* nav */
#xiaolu .nav{
    height: 617px;
}
#xiaolu .nav .list2{
    width: 1200px;
    height: 196px;
    margin: auto;
}
#xiaolu .nav .list2 li{
    float: left;
    width: 200px;
    height: 196px;
}
#xiaolu .nav .list2 li p{
    height: 20px;
    font-size: 16px;
    text-align: center;
    margin-top:  120px ;
}
#xiaolu .nav .list2 li:nth-child(1){
    background: url(../images/icon-proimse-1.png) no-repeat center 42px;
}
#xiaolu .nav .list2 li:nth-child(2){
    background: url(../images/icon-proimse-2.png) no-repeat center 42px;
}
#xiaolu .nav .list2 li:nth-child(3){
    background: url(../images/icon-proimse-3.png) no-repeat center 42px;
}
#xiaolu .nav .list2 li:nth-child(4){
    background: url(../images/icon-proimse-4.png) no-repeat center 42px;
}
#xiaolu .nav .list2 li:nth-child(5){
    background: url(../images/icon-proimse-5.png) no-repeat center 42px;
}
#xiaolu .nav .list2 li:nth-child(6){
    background: url(../images/icon-proimse-6.png) no-repeat center 42px;
}

#xiaolu .nav .nav-1{
    height: 408px;
    width: 1200px;
    margin: auto;
    position: relative;
}
#xiaolu .nav .nav-1 h2{
    height: 28px;
}
#xiaolu .nav .nav-1 h2 a{
    display: block;
    height: 28px;
    width: 116px;
    font-size: 28px;
    color: #333333;
    float: left;
}
#xiaolu .nav .nav-1 .p1{
    float: left;
    font-size: 12px;
    width: 1000px;
    height: 28px;
    line-height: 28px;
    color: #333333;
    margin-top: 11px;
}
.nav-1-1,.nav-1-2,.nav-1-3{
    float: left;
    margin-right: 10px;
    margin-top: 20px;
    height: 362px;
   
}

#xiaolu .nav .nav-1-1{
    width: 542px;
    
}

#xiaolu .nav .nav-1-2{
    width: 262px;
}
#xiaolu .nav .nav-1-3{
    width: 376px;
    margin-right: 0px;
}
#xiaolu .nav .nav-1-2 .list li{
    width: 262px;
    height: 178px;
}
.m1,.m2,.m3,.m4{
    height: 100%;
    width: 100%;
}
/* .m1{
    display: block;
    width: 542px;
    height: 362px;
     -webkit-transition: all 2s;
} */
.aa:hover .m1{
   width: 300px;
   height: 216px; 
}
#xiaolu .nav .nav-1 h3{
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0,.5);
}
#xiaolu .nav .nav-1 .hh1{
    width: 542px;
    position: absolute;
    top: 360px;
}
#xiaolu .nav .nav-1 .hh2{
    width: 262px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    top: 174px;

}
#xiaolu .nav .nav-1 .hh3{
    width: 262px;
    position: absolute;
    top: 360px;
}
#xiaolu .nav .nav-1 .aa{
    width: 100%;
    height: 100%;
    display: block;
}
#xiaolu .nav .nav-1 .aa:hover img{
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

/* main1 */
#xiaolu .main1{
    height: 654px;
    position: relative;
    
}
#xiaolu .main1 .main-1{
    width: 1200px;
    margin: auto;
}
#xiaolu .main1 .main-1 .list4{
    width: 834px;
    height: 16px;
    float: left;
}
#xiaolu .main1 .main-1 .list4 .ko{
    float: left;
    margin: 0 16px;
   
}
#xiaolu .main1 .main-1 .list4 .huhu{
    width: 52px;
    height: 12px;
    font-size: 12px;
    color: #303030;
    
}
#xiaolu .main1 .main-1 .ppp{
    display: block;
    width: 80px;
    height: 12px;
    float: right;
}
#xiaolu .main1 .main-1 .huhuhu{
    font-size: 12px;
    color: #a49b9b;
}
#xiaolu .main1 .main-1 .csc{
    width: 1200px;
    height: 540px;
    position: absolute;
    top: 44px;
    left: 75px;

}
#xiaolu .main1 .main-1 .list5{
    width: 1200px;
    height: 540px;
  
}
#xiaolu .main1 .main-1 .list5 .li-1{
    width: 570px;
    height: 160px;
    float: left;
}
.li-1:nth-child(2n+1){
    margin-right: 60px;
}
.li-1:nth-child(3){
    margin-top:30px;
    margin-bottom: 30px;
}
.li-1:nth-child(4){
    margin-top:30px;
    margin-bottom: 30px;
}
#xiaolu .main1 .main-1 .list5  .hu1{
    display: block;
    width: 240px;
    height: 160px;
    float: left;
    margin-right: 30px;
}
#xiaolu .main1 .main-1 .list5  .hu2{
    display: block;
    width: 300px;
    height: 160px;
    float: left;
}
.hu2 h4{
    font-size: 16px;
    color: #303030;
    height: 16px;
    margin-top: 8px;
}
.tt{
    margin-top: 16px;
}
.go1,.go2{
    font-size: 12px;
    color: #c8c8c8;
}
.go2{
    padding-left: 42px;
}
.rr{
    font-size: 12px;
    line-height: 24px;
    margin-top: 26px;
    color: #303030;
}
.ko:hover .csc{
    display: block;
}

/* main2 */
#xiaolu .main2{
    width: 100%;
    height: 600px;
    background: #f8f8f8;
}
.kkk{
    width: 1200px;
    height: 600px;
    margin: auto;
}
#xiaolu .main2 h2{
    height: 35px;
    margin-bottom: 10px;
}
.qqe{
    display: block;
    width: 134px;
    height: 30px;
    color: #303030;
    font-size: 28px;
    float: left;
}
.ppp1,.qqw{
    display: block;
    height: 16px;
    font-size: 12px;
    padding-top: 16px;
    
}
.ppp1{
    width: 250px;
    float: left;
}
.qqw{
    width: 266px;
    color: #c8c8c8;
    float: right;
}
.ss1{
    height: 180px;
    background: url(../images/bg-help.png) repeat-y;
    position: relative;
}
.iu1,.iuu1{
    height: 26px;
    width: 430px;
    font-size: 26px;
    padding: 50px 0 0 254px;
    
}
.iu2,.iuu2{
    height: 25px;
    width: 430px;
    padding: 26px 0 0 254px;
}
.iu3{
    width: 180px;
    height: 60px;
    background: #ffa000;
    font-size: 18px;
    line-height:60px;
    text-align: center; 
    position: absolute;
    top: 50px;
    left: 870px;
}
.iu3 a{
    color: #fff;
}
.iu4{
    height: 340px;
    margin-top: 30px;
}
.iu5{
    float: left;
    width: 270px;
    margin-right: 40px;
    background: url(../images/8842546.jpeg) no-repeat ,#fff;
    opacity: .8;
}
.iu6{
    font-size: 16px;
    width: 250px;
    height: 180px;
    line-height: 180px;
    text-align: center;

}
.iu6 a{
    color: #fff;
}
.iu7{
    margin-top:140px ;
    margin-left: 20px;
    height: 54px;
    width: 230px;
    border-bottom: 1px  dashed;

}
.iu7 li{
    float: left;
    width: 68px;
    height: 28px;
    margin-right:  7px;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    background: pink;

}
.iu7 li a{
    color: #000;
}
.iu8{
    width: 230px;
    height: 88px;
    margin-left: 20px;
    margin-top:12px;
}
#xiaolu .main2 .iu8 li{
    background: url(../images/icon-q.png)no-repeat left center;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding-left: 22px;
    overflow: hidden;
    text-emphasis: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.iu8 li a{
    display: block;
    width: 280px;
    height: 30px;
    color: #666666;
}

/* main3 */
.main3{
    height: 1040px;
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.po1{
    width: 1200px;
    height: 350px;
    background: url(../images/bg-counsoler.png);
    margin-top: 20px;
    overflow: hidden;
}
.po2 {
    margin-left: 30px;
    /*遇到 margin塌陷了，如果没有给po1设置overflow:hidden
    ,这里的 margin-top: 30px;不起作用*/
    margin-top: 30px;
    width: 364px;
    height: 290px;
    background: #000;
    opacity: .6;

}
#xiaolu .main3 h2{
    height: 35px;
    margin-top: 50px;
}
.po2 h4{
    font-size: 20px;
    color: #fff;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.po3{
    width: 330px;
    height: 226px;
    padding-left:22px;
}
.po3 li{
    float: left;
    width: 90px;
    height: 36px;
    background: #fff;
    text-align: center;
    line-height: 36px;
    margin:10px 10px;
}
.po3 li a{
    color: #000;
}
.poo:hover{
    background: orange;
}

.ad1{
    width: 1200px;
    height: 16px;
    font-size: 12px;
    padding-top: 16px;
    float: left;
}
.ad1 span{
    display: block;
    float: left;
    padding: 0 20px;
}
.ad1 .qqh{
    float: right;
    font-size:12px; 
    color: #9b9b9b;
}
.ad{
    width: 1200px;
    height: 274px;
    overflow: hidden;
}
.ad2{
    width: 1200px;
    height: 274px;
    padding-top: 30px;
}
.ad2 li{
    float: left;
    width: 224px;
    height: 274px;
    margin-right: 20px;
    background: #ffa000;
    position: relative;
}
.ad3 h2{
    font-size: 18px;
    color:#fff;
    height: 18px;
    width: 224px;
    text-align: center;
    line-height: 18px;
    position: absolute;
    top: 150px;
}
.ad4{
    width: 224px;
    height: 274px; 
    background: orange;
    opacity: .8;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    /* -webkit-transition: all 3s ease; */
}
.ad4 h3{
    font-size: 18px;
    color: #fff;
    line-height: 18px;
    width: 184px;
    height: 18px;
    margin-top: 60px;
    margin-left: 20px;
}
.ad4 p{
    width: 184px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    margin-top: 28px;
    margin-left: 20px;
}

.ad5:hover .ad4{
    display: block;
}
.sss{
    width: 1200px;
    height: 180px;
    margin-top: 30px;
}
.sss{
    background: url(../images/300bg.png);
    position: relative;
}
.iuu3{
    width: 180px;
    height: 60px;
    background: #ffa000;
    font-size: 18px;
    line-height:60px;
    text-align: center; 
    position: absolute;
    top: 50px;
    left: 870px;
}
.iuu3 a{
    color: #fff;
}
.ad6{
    font-size: 12px;
    height: 12px;
    width: 200px;
    line-height: 12px;
    text-align: center;
    position: absolute;
    left: 860px;
    top: 120px;
}
/* main4 */
.main4{
    height: 500px;
    background: #f8f8f8;

}
.main4 h2{
    width: 100%;
    height: 18px;
    padding: 42px 0 0 74px;
}
.lv1{
    width: 1200px;
    height: 120px;
    margin-top: 20px;
    margin-left: 74px;
   
}
.lv1 li{
    float: left;
    width: 376px;
    height: 120px;
    background: url(../images/d_03.jpg) no-repeat 20px 30px, #fff;
    margin-right: 30px;
}
.lv1 li p{
    font-size: 16px;
    line-height: 30px;
    width: 236px;
    padding: 20px 0 0 36px;
}
.lv2{
    width: 846px;
    height: 70px;
    margin-left: 74px;
    margin-top: 20px;
}
.qqu{
    display: block;
    width: 900;
    height: 100%;
    color: #000;
    font-size: 18px;
}
.qqp{
    display: block;
    width: 266px;
    font-size: 12px;
    margin-bottom: 20px;
    color: #c8c8c8;
    float: right;
}
.lv2 li{
    float: left;
    background: #fff;
    width: 148px;
    height: 68px;
    margin-right: 24px;
    border: 1px solid #ededed;
}
/* footer */
.footer{
    height: 624px;
    background: #1b1b1b;
    overflow: hidden;
}
.lv3{
    width: 1200px;
    height: 40px;
    margin: auto;
    padding-top: 60px; 
  
}
.lv3 a{
    display: block;
    float: left;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;

}
.lv3 a:nth-child(1){
    background: #494949;
    color: #a4a4a4;
}
.lv3 a:nth-child(2){
    background: #323232;
    color: #989898;
}
.lv4{
    width: 570px;
    height: 14px;
    margin-left: 74px;
    margin-top: 20px;
}
.lv4 li{
    float: left;
    margin: 0 12px;
}
.lv4 li a{
    font-size: 12px;
    color: #5b5b5b;
}
.lv5{
    width: 1200px;
    height: 270px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    margin: 62px auto 0;
}
.lvl{
    width: 892px;
    height: 270px;
    float: left;
}
.lvr{
    height: 270px;
    width: 308px;
    float: left;
}
.lv6{
    width: 100px;
    height: 170px;
    float: left;
    margin-right: 60px;
    margin-top: 60px;
}
.lv6 li{
    height: 28px;
    font-size: 14px;
    line-height: 28px;
}
.lv6 h3{
    font-size: 18px;
    color: #e8e8e8;
    padding-bottom: 15px;
}
.lv6 li a{
    color: #c8c8c8;
}
.lvr p{
    font-size: 18px;
    color: #e8e8e8;
    margin-top: 60px;
}
.lvr h4{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 26px;
}
.lvr a{
    display: block;
    margin-top: 45px;
    float: left;
    width: 140px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background: #444444;
    border: 1px solid #666666;  
    color: #ffffff;
}
.lv7{
    height: 46px;
    width: 650px;
    margin: auto;
    margin-top: 56px;
    background: url(../images/guanwang_03.jpg) no-repeat;
}
.lv7 p{
    width: 468px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
    margin-left: 130px;
    color: #333333;
}
/* pianli */
.panli {
    width:80px;
    height: 320px;
    background: #fff; 
    position: fixed;
    top: 250px;
    right: 20px;
    
}
.panli li{
    width: 80px;
    height: 80px; 
}
.panli li a{
    display: block;
    width: 80px;
    height: 80px;
}
.panli p{
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    width: 100%;
    text-align: center;
    padding-top: 68px;
    color: #9b9b9b;
}
.lv8 li:nth-child(1){
    background: url(../images/icon-about-0.png)no-repeat center center;
}
.lv8 li:nth-child(2){
    background: url(../images/icon-kefu-0.png)no-repeat center center;
}
.lv8 li:nth-child(3){
    background: url(../images/icon-appdl-0.png)no-repeat center center;
}
.lv8 li:nth-child(4){
    background: url(../images/icon-totop-0.png)no-repeat center center;
}
.lv8 li:nth-child(1):hover{
    background: url(../images/icon-about-1.png) no-repeat center center;
}
.lv8 li:nth-child(2):hover{
    background: url(../images/icon-kefu-1.png) no-repeat center center;
}
.lv8 li:nth-child(3):hover{
    background: url(../images/icon-appdl-1.png) no-repeat center center;
}
.lv8 li:nth-child(4):hover{
    background: url(../images/icon-totop-1.png) no-repeat center center;
}
.lv8 li:hover p{
    color: orange;
}
.lili{
    position: relative;
}

.lv8 .imgg{
    width: 160px;
    height: 160px;
    background: #fff;
    position: absolute;
    left: -180px;
    top: 0px;
    display: none;
}
.lv8 img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 30px auto;
}
.lv8 .lili:hover .imgg{
    display: block;
}
